nav ul li {
  margin: 20px;
}

li b {
  color: rgb(201, 57, 81);
}

.text {
  padding-top: 200px;
  padding-left: 150px;
  color: white;
}

.hoverbanner h5 {
  cursor: pointer;
  transition: 0.25s;
  font-size: 50px;
}
.hoverbanner h5 b {
  transition: 0.25s;
  color: pink;
}

.hoverbanner h5:hover {
  color: rgb(201, 57, 81);
}

.hoverbanner h5:hover b {
  color: rgb(201, 57, 81);
}

.banner p {
  font-size: 20px;
  margin-top: 14px;
}

.plane {
  transition: 1s;
  width: 100%;
}

.plane:hover {
  transform: translateY(-30px);
}

.border {
  background-color: rgba(30, 54, 67, 0.9);
  color: white;
  max-width: 430px;
  position: relative;
  top: 150px;
  left: 40px;
  padding: 30px 35px;
}
.border p {
  font-size: 21px;
  margin-top: 15px;
  display: inline;
}

.banner-btn {
  margin-top: 20px;
  margin-left: -10px;
}

.banner-btn a {
  font-weight: bolder;
  width: 168px;
  display: inline-block;
  margin: 0 10px;
  padding: 12px;
  color: white;
  text-decoration: none;
  border: 0.5px solid #fff;
  transition: color 0, 5s;
  position: relative;
  z-index: 1;
}

.banner-btn a:hover {
  color: #10069f;
}

.banner-btn a span {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}

.banner-btn a:hover span {
  width: 100%;
}

.meet {
  width: 100%;
  padding: 50px 0;
  background-color: rgb(230, 230, 230);
}

.text-1 {
  text-align: center;
}

.title-text {
  text-align: center;
  color: black;
  transition: color 0.4s;
  cursor: pointer;
  display: inline-block;
}
.title-text b {
  color: pink;
  transition: 0.4s;
}

.meet-box {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.single {
  flex-basis: 47%;
  margin-top: 30px;
  cursor: pointer;
  margin-bottom: 30px;
  border: 1px solid rgb(207, 203, 203);
}
.single img {
  width: 100%;
  height: 100%;
}
.single b {
  font-size: 21px;
  color: #10069f;
  transition: 0.5s;
}
.single .text-meet {
  padding: 15px;
  border-left: 0px;
  transition: 0.5s;
}
.single .text-meet p {
  padding-top: 20px;
  font-size: 15px;
}

.single:hover .text-meet {
  background-color: rgb(20, 106, 160);
  color: #fff;
}

.single:hover b {
  color: #fff;
}

.single:hover {
  box-shadow: 10px 10px 5px #c2c2c2;
}

.title-text:hover {
  color: #10069f;
}

.title-text:hover b {
  color: #10069f;
}

.phanduoi {
  width: 100%;
  padding: 50px 0;
}
.phanduoi .text-tech {
  width: 80%;
  margin-left: 11%;
  display: flex;
  flex-wrap: wrap;
}
.phanduoi .text-tech .text-trong {
  flex-basis: 50%;
  background-color: palevioletred;
  padding: 70px 60px;
  color: #fff;
}
.phanduoi .text-tech .text-trong b {
  font-size: 36px;
}
.phanduoi .text-tech .text-trong p {
  font-size: 17px;
  margin-top: 20px;
}
.phanduoi .text-tech .anh-trong {
  flex-basis: 50%;
}
.phanduoi .text-tech .anh-trong img {
  height: 100%;
  width: 100%;
}

.prod {
  width: 100%;
  padding: 50px 0;
}

.system {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.system .sys {
  background-size: cover;
  flex-basis: 29%;
  height: 400px;
  margin-bottom: 30px;
  transition: 0.6S;
  cursor: pointer;
}
.system .sys .textsys {
  display: flex;
  align-items: center;
  margin: 15px;
  margin-bottom: 10px;
  color: #fff;
}
.system .sys .textsys .icon {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
}
.system .sys .hover {
  opacity: 0;
  transition: 0.5s;
}

.sys:hover {
  flex-basis: 35%;
}

.sys:hover .hover {
  opacity: 1;
}

.footer {
  width: 100%;
  background-color: #10069f;
  color: #fff;
}
.footer .container {
  padding-top: 30px;
}
.footer .container .phantren {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .container .phantren .ads {
  flex-basis: 38%;
}

.textpink {
  cursor: pointer;
  transition: 0.5s;
}

.textpink:hover {
  color: rgb(174, 70, 85);
}

.a {
  color: #a5a2a2;
}

.ic {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  padding: 0 10px 10px 0;
  transition: 0.3s;
}

.ic:hover {
  color: rgb(174, 70, 85);
  cursor: pointer;
}

.contact {
  margin-top: 20px;
}

.contact-text:hover {
  color: rgb(174, 70, 85);
}

.ic1 {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
}

.ic1, .contact-text {
  cursor: pointer;
}

.khoi {
  display: flex;
  align-items: flex-end;
  transition: 0.4s;
}

.khoi:hover {
  color: rgb(174, 70, 85);
}

.end {
  display: flex;
  justify-content: space-between;
}

.anhchu {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}
.anhchu .flex {
  display: flex;
  align-items: center;
}
.anhchu .flex .logoend img {
  height: 100px;
  width: 100px;
}

ul {
  list-style: none;
}
ul li {
  display: inline;
  padding: 4px;
  transition: 0.6s;
}

.hoverpink {
  cursor: pointer;
}

.hoverpink:hover {
  color: rgb(174, 70, 85);
}

.list {
  padding-top: 44px;
}

.text-nor {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
  padding-top: 150px;
  height: 70vh;
  max-width: 550px;
}

.b p {
  font-size: 20px;
  font-weight: 350;
}

.text-nor2 {
  text-align: center;
  color: black;
  margin: auto;
  padding-top: 30px;
  height: 35vh;
  max-width: 750px;
}

.ceo {
  max-width: 100%;
  background-color: #f6f6f6;
}
.ceo .ac {
  width: 90%;
  margin: auto;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ceo .ac img {
  width: 400px;
  flex-basis: 40%;
}
.ceo .ac p {
  font-size: 20px;
  max-width: 420px;
}

.air {
  margin-bottom: 60px;
}

.solieu {
  max-width: 100%;
  background-color: #f6f6f6;
}
.solieu .sc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 60px;
}
.solieu .sc .sl {
  text-align: center;
  flex-basis: 14%;
}

.sl h1 {
  color: rgb(7, 105, 234);
}
.sl p {
  margin-top: 20px;
}
.sl .blue {
  cursor: pointer;
  color: #10069f;
  transition: 0.3s;
}

.blue:hover {
  color: blue;
}

.banner-btn2 {
  margin-top: 60px;
  margin-left: -10px;
}

.banner-btn2 a {
  font-weight: bolder;
  width: 168px;
  display: inline-block;
  margin: 0 10px;
  padding: 12px;
  color: #10069f;
  text-decoration: none;
  border: 0.5px solid #10069f;
  transition: color 0, 5s;
  position: relative;
  z-index: 1;
}

.banner-btn2 a:hover {
  color: #fff;
}

.banner-btn2 a span {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #10069f;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}

.banner-btn2 a:hover span {
  width: 100%;
}

.col-6 {
  margin-bottom: 120px;
}

.text-nor3 {
  text-align: center;
  color: black;
  margin: auto;
  padding-top: 30px;
  max-width: 750px;
}

.hoverbanner3 {
  cursor: pointer;
}
.hoverbanner3 b {
  color: pink;
  transition: 0.2s;
}

.hoverbanner3 h1 {
  transition: 0.2s;
}

.hoverbanner3:hover h1 {
  color: #10069f;
}

.hoverbanner3:hover b {
  color: #10069f;
}

.banner-btn3 {
  margin-top: 60px;
  margin-left: -10px;
}

.banner-btn3 a {
  font-weight: bolder;
  max-width: 350px;
  display: inline-block;
  margin: 0 10px;
  padding: 12px;
  color: #10069f;
  text-decoration: none;
  border: 0.5px solid #10069f;
  transition: color 0, 5s;
  position: relative;
  z-index: 1;
}

.banner-btn3 a:hover {
  color: #fff;
}

.banner-btn3 a span {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #10069f;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}

.banner-btn3 a:hover span {
  width: 100%;
}

.li {
  padding-bottom: 10px;
}

.banner-btn4 {
  margin-top: 60px;
  margin-left: -10px;
}

.banner-btn4 a {
  font-weight: bolder;
  max-width: 300px;
  display: inline-block;
  margin: 0 10px;
  padding: 12px;
  color: #10069f;
  text-decoration: none;
  border: 0.5px solid #10069f;
  transition: color 0, 5s;
  position: relative;
  z-index: 1;
}

.banner-btn4 a:hover {
  color: #fff;
}

.banner-btn4 a span {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #10069f;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}

.banner-btn4 a:hover span {
  width: 100%;
}/*# sourceMappingURL=style.css.map */